<html>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Welcome, {{name}}!
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>

<form action="/searchByToDo" method="get">
    <input type="text" placeholder="Search" name="search"/>
    <button type="submit">Search</button>
</form>

<br/><br/>

<!--<form action="/" method="get">
    <input type="text" placeholder="Search" name="search"/>
    <button type="submit">Search</button>
</form>

<br/><br/>-->

<form action="/add-todo" method="post">
    <input type="text" placeholder="ToDo" name="toDoName"/>
    <!--  ADD A LEVEL OF IMPORTANCE OR TIME FRAME TO GET DONE
    <select name="todoIs_done">
        <option selected disabled>not_done</option>
        <option value="is_not_done">Not Done</option>
        <option value="is_done">Done</option>
    </select>-->
    <button type="submit">Add Item</button>
</form>

<ol>
    {{#todos}}
    <li>{{text}} {{is_done}} <a href="/delete?todoID={{id}}">delete</a></li>
    {{/todos}}
</ol>

{{/user}}
</body>
</html>
